{{ form_start(form) }}
    {{ form_widget(form) }}
    <button style="border-radius: 10px; padding : 5px; margin-bottom : 10px;" class="btn btn-info">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
