{% extends 'base.html.twig' %}

{% block title %}A propos {% endblock %}
{% block sty %}

{% endblock %}
{% block titre %} A propos  {% endblock %}
{% block description %} Essaouira territoriel innovation lab {% endblock %}
{% block page %} A propos {% endblock %}
{% block body %}
<div style = "">
<img style="margin-top : 50px ; margin-bottom : 20px;" class="img-fluid" src="img/Apropos.jpg" alt="">
    <article style="margin-top : 50px; width: 900px; line-height : 40px; ">
					
<br>    A peine trois mois d’existence et déjà les premières solutions. Les équipes d’Essaouira Innovation Lab  (ETIL) -composé de 70 experts métiers- ont  travaillé d’arrache-pied pour présenter les premières solutions pertinentes pour résoudre les problématiques sociétales, environnementales et économiques de la province.<br> <br> 

Née d’une initiative d’open innovation impliquant des parties prenantes de compétences et d’horizons divers, Essaouira Innovation Lab est animé par le désir de trouver des réponses concertées à des fragilités ou des problématiques territoriales. De par la qualité de ses membres fondateurs (la province d’Essaouira,  l’UCA, l’UM6P, IBM,  DuPont OCP Opérations Consulting, l’Ecole supérieure de technologie d’Essaouira, les associations Essaouira Mogador et Targa ainsi que Act 4 Community - le programme de volontariat du groupe OCP), Essaouira Innovation Lab devra rapidement concrétiser des projets. 
<br> <br> 
En effet, les solutions qui ont été soumises la semaine dernière aux parties prenantes ont été challengées et débattues et certaines seront expérimentées à très court terme. En matière d’éducation, il s’agit notamment de la mise en place d’une solution de classe mobile et d’un contenu favorisant l’épanouissement des élèves.
<br> <br> 
Pour les élèves des collèges et lycées, une offre innovante d’accompagnement en soft skills et en apprentissage du digital sera mise en place dès la rentrée prochaine au profit de plusieurs établissements de la région, en concertation avec les services extérieurs concernés. En matière environnementale, les experts d’ETIL ont présenté des projets pour  la mise en place de steps communautaires, la gestion et la valorisation des déchets, l’éclairage et l’efficacité énergétique ainsi que la mobilité durable.
<br> <br> 
Ces solutions seront  peaufinées et présentées en juin prochain. Enfin, 3e action, la Junior Entreprise de l’école EST d’Essaouira, créée et formée avec l’aide d’ETIL qui devient la toute première startup lancée dans le cadre d’ETIL et interviendra notamment sur des solutions digitales. 
<br> <br> 
«Cette capacité collective à inventer des solutions pertinentes est un souffle de fraîcheur et d’innovation pour le développement territorial. Ce modèle de réflexion et d’action, basé sur la concertation et la co-construction - alors même que l’initiative est toute jeune - donne déjà des résultats concrets. C’est dire la puissance de l’intelligence collective», se réjouit André Azoulay, conseiller de Sa Majesté le Roi et Advisor d'ETIL.<br> <br> 

    </article>
    </div>
{% endblock %}
