{% extends 'base.html.twig' %}

{% block title %}New DemandeFormateur{% endblock %}

{% block body %}
    <h1>Create new DemandeFormateur</h1>

    {{ include('demande_formateur/_form.html.twig') }}

    <a href="{{ path('demande_formateur_index') }}">back to list</a>
{% endblock %}
