{% extends 'base.html.twig' %}

{% block title %}New Formateur{% endblock %}

{% block body %}
    <h1>Create new Formateur</h1>

    {{ include('formateur/_form.html.twig') }}

    <a style="border-radius: 10px; padding : 5px; margin-bottom : 10px;" class="btn btn-info"  href="{{ path('formateur_index') }}">back to list</a>
{% endblock %}
